@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
  border: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Dashboard Layout Starts */
.nav-dropdown {
  display: inline;
}

.notification .dropdown-toggle::after {
  display: none;
}

.navbar-toggler-icon {
  height: 1rem;
  width: 1rem;
}

.notification .dropdown-toggle {
  padding: 0.90625rem 0;
}

.navbar {
  padding-bottom: 0;
}

.navBrand {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  padding-left: 3.9375rem;
}
.navBrand-sm {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBrand div {
  font-size: 1.3rem;
}

.navBrand-sm div {
  font-size: 1.3rem;
}

/* Dashboard Layout Ends */
